<h2>Wishlist</h2>
<div class="card-grid">
  <mat-card *ngFor="let pokemon of wishlist" class="pokemon-card" (click)="details(pokemon)">
    <img mat-card-image 
    (error)="pokemon.image = 'assets/images/pokeball.png'"
     [src]="pokemon.image" 
     alt="{{ pokemon.name }}" />
    <mat-card-title>{{ pokemon.name }}</mat-card-title>
    <mat-card-actions>
   
      <button
      mat-icon-button
      color="primary"
      (click)="remove(pokemon); $event.stopPropagation()"
      matTooltip="Remove from Wishlist">
      <mat-icon>
        {{ 'highlight_off' }}
      </mat-icon>
  </button>
    </mat-card-actions>
  </mat-card>
</div>