
  .search-bar {
    margin: 1rem;
    display: flex;
    justify-content: center;
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }
  
  .pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .loading-spinner {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .load-more-container {
    text-align: center;
    margin: 2rem 0;
  }

  .catch-animation {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    pointer-events: none;
    animation: pop 1s ease-out;
  }
  
  .pokemon-card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  }
  
  
  @keyframes pop {
    0% {
      opacity: 0;
      transform: translateX(-50%) scale(0.5);
    }
    50% {
      opacity: 1;
      transform: translateX(-50%) scale(1.2);
    }
    100% {
      opacity: 0;
      transform: translateX(-50%) scale(0.8);
    }
  }
  
  
  
  